/*  your css code here. If applicable */
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f5f5f5;
}
.header{
	width: 100%;
	background-color: #011e29;
	height: 20vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header h1{
	text-align: center;
}

.main{
	display: flex;
	max-width: 100%;
	gap: 15px;
	margin-top: 20px;
}

.latest-news-section{
	width: 20%;
}

.main-article-section{
	width: 50%;
}

p{
	text-align: center;
}

h3{
	text-align: center;
	margin-bottom: 20px;
}

h2{
	text-align: center;
	margin-bottom: 28px;
}

.pictorial-news-section{
	width: 30%;
	display: flex;
	flex-direction: column;
}

.pictorial-news-section img{
	width: 100%;
	margin-bottom: 10px;
	
}